[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RMark"]
	path = RMark
	url = https://github.com/sjbonner/rmark
	subdir = RMark
[submodule "RWildbook"]
	path = RWildbook
	url = https://github.com/cran/RWildbook
